USE [CompanyDataMartDB]
GO
/****** Object:  Table [dbo].[DIM_CLIENTE]    Script Date: 9/10/2018 00:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CLIENTE](
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[NRO_DOCUMENTO] [varchar](11) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC,
	[NRO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_DISTRITO]    Script Date: 9/10/2018 00:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_DISTRITO](
	[ID_DISTRITO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_DISTRITO] PRIMARY KEY CLUSTERED 
(
	[ID_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PRODUCTO]    Script Date: 9/10/2018 00:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[PRECIO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DIM_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TIENDA]    Script Date: 9/10/2018 00:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIENDA](
	[ID_TIENDA] [int] NOT NULL,
	[ID_DISTRITO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIENDA] PRIMARY KEY CLUSTERED 
(
	[ID_TIENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TIPO_DOCUMENTO]    Script Date: 9/10/2018 00:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIPO_DOCUMENTO](
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[NOMBRE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_DIM_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TIPO_PRODUCTO]    Script Date: 9/10/2018 00:21:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIPO_PRODUCTO](
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIM_CLIENTE] ([ID_TIPO_DOCUMENTO], [NRO_DOCUMENTO], [NOMBRES], [APELLIDOS]) VALUES (1, N'10039738', N'Ingar', N'Kamienski')
INSERT [dbo].[DIM_CLIENTE] ([ID_TIPO_DOCUMENTO], [NRO_DOCUMENTO], [NOMBRES], [APELLIDOS]) VALUES (1, N'10071384', N'Elvin', N'Bugge')
INSERT [dbo].[DIM_CLIENTE] ([ID_TIPO_DOCUMENTO], [NRO_DOCUMENTO], [NOMBRES], [APELLIDOS]) VALUES (1, N'10077210', N'Colan', N'Comber')
GO
INSERT [dbo].[DIM_DISTRITO] ([ID_DISTRITO], [NOMBRE]) VALUES (1, N'San Miguel')
INSERT [dbo].[DIM_DISTRITO] ([ID_DISTRITO], [NOMBRE]) VALUES (2, N'Miraflores')
INSERT [dbo].[DIM_DISTRITO] ([ID_DISTRITO], [NOMBRE]) VALUES (3, N'San Isidro')
INSERT [dbo].[DIM_PRODUCTO] ([ID_PRODUCTO], [ID_TIPO_PRODUCTO], [NOMBRE], [PRECIO]) VALUES (1, 1, N'ARROZ COSTEÑO', CAST(15.00 AS Decimal(18, 2)))
INSERT [dbo].[DIM_PRODUCTO] ([ID_PRODUCTO], [ID_TIPO_PRODUCTO], [NOMBRE], [PRECIO]) VALUES (2, 1, N'ARROZ LA SIEMBRA', CAST(12.00 AS Decimal(18, 2)))
INSERT [dbo].[DIM_PRODUCTO] ([ID_PRODUCTO], [ID_TIPO_PRODUCTO], [NOMBRE], [PRECIO]) VALUES (3, 1, N'ACEITE PRIMOR', CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[DIM_TIENDA] ([ID_TIENDA], [ID_DISTRITO], [NOMBRE]) VALUES (1, 1, N'Wong San Miguel')
INSERT [dbo].[DIM_TIENDA] ([ID_TIENDA], [ID_DISTRITO], [NOMBRE]) VALUES (2, 1, N'Metro')
INSERT [dbo].[DIM_TIENDA] ([ID_TIENDA], [ID_DISTRITO], [NOMBRE]) VALUES (3, 2, N'Plaza Vea')
INSERT [dbo].[DIM_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO], [NOMBRE]) VALUES (1, N'DNI')
INSERT [dbo].[DIM_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO], [NOMBRE]) VALUES (2, N'RUC')
INSERT [dbo].[DIM_TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [NOMBRE]) VALUES (1, N'Abarrote')
INSERT [dbo].[DIM_TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [NOMBRE]) VALUES (2, N'Electrodoméstico')
INSERT [dbo].[DIM_TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [NOMBRE]) VALUES (3, N'Embutidos')
ALTER TABLE [dbo].[DIM_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_DIM_CLIENTE_DIM_TIPO_DOCUMENTO] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[DIM_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[DIM_CLIENTE] CHECK CONSTRAINT [FK_DIM_CLIENTE_DIM_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[DIM_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_DIM_PRODUCTO_DIM_TIPO_PRODUCTO] FOREIGN KEY([ID_TIPO_PRODUCTO])
REFERENCES [dbo].[DIM_TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO])
GO
ALTER TABLE [dbo].[DIM_PRODUCTO] CHECK CONSTRAINT [FK_DIM_PRODUCTO_DIM_TIPO_PRODUCTO]
GO
ALTER TABLE [dbo].[DIM_TIENDA]  WITH CHECK ADD  CONSTRAINT [FK_DIM_TIENDA_DIM_DISTRITO] FOREIGN KEY([ID_DISTRITO])
REFERENCES [dbo].[DIM_DISTRITO] ([ID_DISTRITO])
GO
ALTER TABLE [dbo].[DIM_TIENDA] CHECK CONSTRAINT [FK_DIM_TIENDA_DIM_DISTRITO]
GO
