USE [CompanyDB]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 10/10/2018 00:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[TIP_DOC_IDE] [int] NOT NULL,
	[NUM_DOC_IDE] [varchar](16) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[EDAD] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 10/10/2018 00:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[ID_DISTRITO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DISTRITO] PRIMARY KEY CLUSTERED 
(
	[ID_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 10/10/2018 00:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENDA]    Script Date: 10/10/2018 00:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENDA](
	[ID_TIENDA] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[TELEFONO] [varchar](20) NOT NULL,
	[ID_DISTRITO] [int] NOT NULL,
 CONSTRAINT [PK_TIENDA] PRIMARY KEY CLUSTERED 
(
	[ID_TIENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 10/10/2018 00:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[TIP_DOC_IDE] [int] NOT NULL,
	[DESCRIPCION] [varchar](32) NOT NULL,
 CONSTRAINT [PK_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[TIP_DOC_IDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PRODUCTO]    Script Date: 10/10/2018 00:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PRODUCTO](
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 10/10/2018 00:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID_VENTA] [int] NOT NULL,
	[ID_TIENDA] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[MONEDA] [char](1) NOT NULL,
	[IMPORTE] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [TIP_DOC_IDE], [NUM_DOC_IDE], [NOMBRES], [APELLIDOS], [EDAD]) VALUES (1, 1, N'10000001', N'Nombres 1', N'Apellidos 1', 39)
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [TIP_DOC_IDE], [NUM_DOC_IDE], [NOMBRES], [APELLIDOS], [EDAD]) VALUES (2, 1, N'10000002', N'Nombres 2', N'Apellidos 2', 21)
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [TIP_DOC_IDE], [NUM_DOC_IDE], [NOMBRES], [APELLIDOS], [EDAD]) VALUES (3, 2, N'2000000003', N'Nombres 3', N'Apellidos 3', 63)
GO
INSERT [dbo].[DISTRITO] ([ID_DISTRITO], [NOMBRE]) VALUES (1, N'San Miguel')
INSERT [dbo].[DISTRITO] ([ID_DISTRITO], [NOMBRE]) VALUES (2, N'Miraflores')
INSERT [dbo].[DISTRITO] ([ID_DISTRITO], [NOMBRE]) VALUES (3, N'San Isidro')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [ID_TIPO_PRODUCTO]) VALUES (1, N'Arroz', N'', 1)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [ID_TIPO_PRODUCTO]) VALUES (2, N'Azucar', N'', 1)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOMBRE], [DESCRIPCION], [ID_TIPO_PRODUCTO]) VALUES (3, N'Fideos', N'', 1)
INSERT [dbo].[TIENDA] ([ID_TIENDA], [NOMBRE], [TELEFONO], [ID_DISTRITO]) VALUES (1, N'San Miguel 1', N'123456', 1)
INSERT [dbo].[TIENDA] ([ID_TIENDA], [NOMBRE], [TELEFONO], [ID_DISTRITO]) VALUES (2, N'San Miguel 2', N'123457', 1)
INSERT [dbo].[TIENDA] ([ID_TIENDA], [NOMBRE], [TELEFONO], [ID_DISTRITO]) VALUES (3, N'Miraflores 1', N'123458', 2)
INSERT [dbo].[TIPO_DOCUMENTO] ([TIP_DOC_IDE], [DESCRIPCION]) VALUES (1, N'DOCUMENTO NACIONAL DE IDENTIDAD')
INSERT [dbo].[TIPO_DOCUMENTO] ([TIP_DOC_IDE], [DESCRIPCION]) VALUES (2, N'CARNÉ DE ESTRANGERÍA')
INSERT [dbo].[TIPO_DOCUMENTO] ([TIP_DOC_IDE], [DESCRIPCION]) VALUES (3, N'PASAPORTE')
INSERT [dbo].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [NOMBRE]) VALUES (1, N'Abarrate')
INSERT [dbo].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [NOMBRE]) VALUES (2, N'Electrodoméstico')
INSERT [dbo].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO], [NOMBRE]) VALUES (3, N'Embutido')
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_TIPO_DOCUMENTO] FOREIGN KEY([TIP_DOC_IDE])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([TIP_DOC_IDE])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TIPO_PRODUCTO] FOREIGN KEY([ID_TIPO_PRODUCTO])
REFERENCES [dbo].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_TIPO_PRODUCTO]
GO
ALTER TABLE [dbo].[TIENDA]  WITH CHECK ADD  CONSTRAINT [FK_TIENDA_DISTRITO] FOREIGN KEY([ID_DISTRITO])
REFERENCES [dbo].[DISTRITO] ([ID_DISTRITO])
GO
ALTER TABLE [dbo].[TIENDA] CHECK CONSTRAINT [FK_TIENDA_DISTRITO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_PRODUCTO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_TIENDA] FOREIGN KEY([ID_TIENDA])
REFERENCES [dbo].[TIENDA] ([ID_TIENDA])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_TIENDA]
GO
